@import url(http://weloveiconfonts.com/api/?family=typicons);
@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:400,700&subset=latin,cyrillic);

body {
    font-family: 'Fira Sans', sans-serif;
    background: url(../images/bg_3.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
[class*="typicons-"]:before {
    font-family: 'Typicons', sans-serif;
}

html {
    font-size: 16px;
    height: 100%;
}

.signin {
    width: 300px;
    /*background: rgba(104, 113, 243, 0.47);*/
    margin: 10vh auto 0 auto;
    padding: 0 1.1em;
}
h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
h1.retroshadow {
    color: #fff;
    letter-spacing: .07em;
    text-shadow: 4px 4px 0px #004c78, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
h1.deepshadow {
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #074669, 0 2px 0 #083c5b, 0 3px 0 #033a57, 0 4px 0 #002b44, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
.wrapper {
    margin: 0 auto 20px auto;
    border-radius: 3px;
    box-shadow: inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.5);
}
input {
    width: 83.5%;
    height: 47px;
    background: rgba(0,0,0,0.2);
    font-size: 0.85em;
    color: #fff;
    border: none;
    padding: 15px 5px;
}

input[placeholder] {
    color: #666;
}
input:valid {
    color: #fff;
}
input:focus {
    outline: none;
}
input:invalid {
    color: #CA3435;
    border: none;
}
input[type=submit] {
    width: 100%;
    text-transform: uppercase;
    background: transparent;
    border: solid 2px ;
    cursor: pointer;
    border-radius: 3px;
}
input[type=submit]:hover {
    background: #003e61;
    /*background: rgba(202, 52, 53, 0.9);*/
}
input[type=submit]:active {
    background: #003e61;
    box-shadow: inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.5);
}

label {
    float: left;
    background: rgba(0,0,0,0.2);
    color: #666;
    padding: 5px 10px;
    font-size: 1.4em;
    height: 47px;
    border-radius: 3px 0 0 3px;
}
label:after {
    content: '';
    display: inline-block;
    border-right: 1px solid #666;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: -5px;
    height: 25px;
}
footer {
    width: 300px;
    margin: 10px auto;
    /*background: rgba(17,17,17,0.95);*/
    /*border-bottom: 1px solid black;*/
    text-align: center;
}
footer p {
    color: #666;
    font-size: 0.9em;
    font-weight: 300;
}
a:link, a:visited {
    text-decoration: none;
    color: #fff;
}
a:hover, a:active {
    color: #fff;
    text-decoration: underline;
}
p.forget {
    font-size: 0.9em;
    text-align: center;

}
.container_serial{
    width: 980px;
    margin: 0 auto;
    /*text-align: center;*/
}
.add_serial{

}
.typicons-tick{
    color: #ffffff;
    background: transparent;
    border: solid 1px transparent;
    cursor: pointer;
}
.typicons-tick:hover{
    background: rgba(138, 30, 51, 0.84);
}
.typicons-tick:focus,
.typicons-tick:active{
    background: rgba(53, 183, 23, 0.94);
    outline: none;
}
article{
    display: block;
    border: 1px solid transparent ;
    float: left;
    position: relative;
}
article img{
    width: 100%;
    /*float: left;*/
}
article header{
    font-size: 1.5em;
}
.new_ep header p{
    max-height: 100px;
    position: absolute;
    top: 5px;
    background: #ff2857;
}
article header p{
    max-height: 100px;
    position: absolute;
    top: 5px;
    background: #fff;
}
article header .title{
    padding: 3px 5px;
    position: absolute;
    bottom: 25px;
    left: 0;
    display: block;
    height: 100px;
    background: rgba(34, 41, 229, 0.36);
    z-index: 2;
    overflow: hidden;
}
header{
    margin-bottom: 25px;

}
.clean{
    clear: both;
}
.input_serial{
    float: left;
    width: 75%;
    padding-left: 15px;
    height: 50px;
}
.input_serial:focus{
    border: solid 2px ;
}
.add_serial {
    color: #fff;
    height: 50px;
    width: 25%;
    float: left;
    text-transform: uppercase;
    background: transparent;
    border: solid 2px ;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 10px;
}
.add_serial:hover {
    background: #003e61;
    /*background: rgba(202, 52, 53, 0.9);*/
}
.add_serial:active {
    background: #003e61;
    box-shadow: inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.5);
}
.typicons-plus{
    height: 35px;
}
.episode{
    padding-left: 0;
    padding-right: 0;
}
.new{
    padding-left: 0;
    padding-right: 0;
}